@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
}

main {
  place-content: center;
  height: 90vh;
  text-align: center;
}

a.item-menu {
  font-family: "Roboto Mono", monospace;
  color: rgb(250, 248, 246);
  text-decoration: none;
  list-style: none;
  opacity: 0.75;
  font-weight: 200;
  letter-spacing: 0.2px;
  font-size: 15px;
  transition: 0.3s opacity ease-in-out;
  -webkit-transition: 0.3s opacity ease-in-out;
  -moz-transition: 0.3s opacity ease-in-out;
  -ms-transition: 0.3s opacity ease-in-out;
  -o-transition: 0.3s opacity ease-in-out;
}

p.tagline {
  position: absolute;
  margin-bottom: -40px;
  font-size: 11px;
}

button.btn-menu {
  border: none;
  outline: none;
  color: #fff !important;
  background-color: transparent !important;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 400;
  transition: 0.2s opacity ease-in-out;
  -webkit-transition: 0.2s color ease-in-out;
  -moz-transition: 0.2s color ease-in-out;
  -ms-transition: 0.2s color ease-in-out;
  -o-transition: 0.2s color ease-in-out;
}

a.item-menu:hover {
  opacity: 1;
}

button.btn-menu:hover {
  color: #aaa !important;
}

/* Transicion entre secciones */
.fade {
  opacity: 0;
  transition: opacity 0.75s ease;
  -webkit-transition: opacity 0.75s ease;
  -moz-transition: opacity 0.75s ease;
  -ms-transition: opacity 0.75s ease;
  -o-transition: opacity 0.75s ease;
}

.fade.show {
  opacity: 1;
}

footer {
  background: white;
  color: #353535;
  border-top: 0.5px solid rgba(255, 255, 255, 0.2);
  padding-top: 50px;
  padding-bottom: 50px;
}
