@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
}

.bg-dark {
  background-color: rgba(5, 10, 25, 1) !important;
}

main {
  place-content: center;
  height: 100vh;
  text-align: center;
}

a.item-menu,
.footer-menu a {
  font-family: "Roboto Mono", monospace;
  color: rgb(250, 248, 246, 0.75);
  position: relative;
  text-decoration: none;
  list-style: none;
  line-height: 1.5rem;
  list-style-type: none;
  display: inline-block;
  color: rgb(250, 248, 246, 0.7);
  background-color: transparent;
  font-size: 14.5px;
  overflow: hidden;
  transition: 0.25s color ease-in-out;
  -webkit-transition: 0.25s color ease-in-out;
  -moz-transition: 0.25s color ease-in-out;
  -ms-transition: 0.25s color ease-in-out;
  -o-transition: 0.25s color ease-in-out;
}

a.item-menu:hover,
.footer-menu a:hover {
  color: rgb(250, 248, 246, 1);
}

/* Before y After para el efecto */
a.item-menu::before,
a.item-menu::after,
.footer-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  border-radius: 25%;
  width: 100%;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -ms-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
}

/* Hover: activar el efecto */
a.item-menu:hover::before,
.footer-menu:hover a::before {
  transform: scaleX(1); /* El before cubre toda la anchura */
}

a.item-menu:hover::after,
.footer-menu:hover a::after {
  transform: scaleX(1); /* El after cubre toda la anchura */
}

p.tagline {
  position: absolute;
  margin-bottom: -40px;
  font-size: 11px;
}

button.btn-menu {
  border: none;
  outline: none;
  color: #fff !important;
  background-color: transparent !important;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 400;
  transition: 0.2s opacity ease-in-out;
  -webkit-transition: 0.2s color ease-in-out;
  -moz-transition: 0.2s color ease-in-out;
  -ms-transition: 0.2s color ease-in-out;
  -o-transition: 0.2s color ease-in-out;
}

button.btn-menu:hover {
  color: #aaa !important;
}

.fade.show {
  opacity: 1;
}

footer {
  background: white;
  color: #353535;
  border-top: 0.5px solid rgba(255, 255, 255, 0.2);
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-menu {
  font-family: "Roboto Mono", monospace;
  font-size: 0.8rem;
  padding: 0px 30px;
}

.footer-menu a {
  color: #ccc;
}

.footer-menu p {
  color: rgba(255, 255, 255, 0.4);
}

/* ANIMACIONES */
/* Transicion entre secciones */
.fade {
  opacity: 0;
  transition: opacity 0.75s ease;
  -webkit-transition: opacity 0.75s ease;
  -moz-transition: opacity 0.75s ease;
  -ms-transition: opacity 0.75s ease;
  -o-transition: opacity 0.75s ease;
}

/* Estilo inicial para el texto */
.animar-texto {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.3px;
  animation: cambiarColor 1s ease;
  -webkit-animation: cambiarColor 1s ease;
}

/* Definición de la animación */
@keyframes cambiarColor {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 4%;
  }
  100% {
    opacity: 100%;
  }
}
